<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /chantier-ai-php/
    
    # Rediriger les requêtes vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>
